
{% extends 'ttt/base.html' %}

{% load bootstrap5 %}

{% block content %}
      <div>
        <h6><strong>Game ID:</strong> {{ game.gid }}</h6>
        <h6><strong>Player:</strong> {{ player }}</h6>
          {% if player_type == "PRIMARY" %}
        <h6><strong>Opponent Link:</strong> <a href="{% url 'ttt:play-game' secondary_player_uid %}" target="_blank">{{ secondary_player_uid }}</a></h6>
          {% endif %}

    </div>

      <div class="alert alert-danger d-none" role="alert">
        A simple danger alert—check it out!
      </div>

      <div id="game-message" class="alert alert-secondary" role="alert">
        {{ game.message }}
      </div>

      <div class="d-none">
          GID: <span id="gid">{{ game.gid }}</span><br/>
          Player ID: <span id="player_id" data-id="{{ player_id }}">{{ player_id }}</span></br>

          <span>Game: {{ game.gid }}</span><br/>
          Player: {{ player }}
          {% if player.name == game.turn.name %}
          <br/>Your Turn
          {% endif %}
          <br/><span id="player">{{ player.name }}</span>
          <br/><span id="turn">{{ game.turn.name }}</span>
      </div>
    <table class="table table-bordered" id="board" border="5px">
        <tbody>
            <tr>
              {% for cell in game.cells.all %}
                  <td class="ttt-cell" id="cell-{{ forloop.counter }}" width="33%" height="250px" data-cell_id="{{ cell.cell_id }}" data-status="{{ cell.status }}" align="center" valign="middle" style="font-size: 50px;">{{ cell }}
                    <span id="marked-flag" name="marked-flag"></span><br/>
                    <span id="marked-user" name="marked-user"></span>
                  </td>
                  {% if forloop.counter|divisibleby:3 %}
                    </tr><tr>
                  {% endif %}
              {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}
  {% block jscontent %}

<script>
$(document).ready(function(){
    let player = "{{ player.id }}";
    let player_type = "{{ player_type }}";
    let player_name = "{{ player.name }}";
    let turn_player_name = "{{ game.turn.name }}";
    let can_play = "";
    let player_uid = "{{ player_id }}";
    let gid = "{{ game.gid }}";
    game_status = "";

    console.log(turn_player_name);

    function getBoard() {
        if (game_status != "FINISHED") {
            $.ajax({
              url: "/get-board/" + player_uid,
              data: {
              },
              success: function( result ) {

                if (result.status == "ok") {
                    console.log(result);
                    can_play = result.can_play;
                    game_status = result.game_status;
                    $("#game-message").text(result.game_message);

                    for (let i = 1; i < result.cells.length + 1; i++) {
                        text = $("#cell-" + i).text();

                        $("#cell-" + i).attr("data-status", result.cells[i-1].status);

                        if (result.cells[i-1].status == "MARKED") {
                            if (result.cells[i-1].marked_by == result.player_1 ) {
                                $("#cell-" + i).addClass("table-success");
                            } else {
                                $("#cell-" + i).addClass("table-danger");
                            }

                            if (result.cells[i-1].winning_cell == true ) {
                                $("#cell-" + i).text("X");
                            }

                        }
                    }
                } else {
                    alert("ERROR: " + result.error);
                }
              }
            });
       } else {
            console.log("Game Finished");
       }
    }

    getBoard();
    setInterval(getBoard, 1000);

      $(".ttt-cell").click(function(){
            cell_status = $(this).data("status");
            console.log(can_play);

            if ( can_play == true && cell_status == "BLANK" && game_status != "FINISHED") {

                if ( player_type == "PRIMARY" ) {
                    $(this).addClass("table-success");
                } else {
                    $(this).addClass("table-danger");
                }

                $.ajax({
                  method: "POST",
                  url: "/mark-cell/" + player_uid,
                  data: {
                    cell_id: $(this).data("cell_id"),
                    player_type: player_type,
                    gid: gid,
                    player_id: player
                  },
                  success: function( result ) {
                    console.log(result);
                    if (result.status != "ok") {
                        alert("ERROR: " + result.error);
                    }
                  }
                });
            } else {
                alert("You can't play");
            }

      });

});
</script>
{% endblock %}
